<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Trace -->
      <package
            uri="http://www.mdh.se/idt/benji/trace/Trace"
            class="se.mdh.idt.benji.trace.TracePackage"
            genModel="se.mdh.idt.benji/model/Trace.xcore"/>
   </extension>
</plugin>
