<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="se.mdh.idt.benji.examples.models20.bpmn2.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:se.mdh.idt.benji.examples.models20.bpmn2.Queries" id="se.mdh.idt.benji.examples.models20.bpmn2.Queries">
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.MoveElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.MoveElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.RenameElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.RenameElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.MoveRenamedElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.MoveRenamedElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.ExchangeLocationOfElementsPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.ExchangeLocationOfElementsPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.UpdateReferenceTargetPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.bpmn2.UpdateReferenceTargetPostcondition"/>
    </group>
  </extension>
  <extension id="se.mdh.idt.benji.examples.models20.ecore.Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:se.mdh.idt.benji.examples.models20.ecore.Queries" id="se.mdh.idt.benji.examples.models20.ecore.Queries">
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.MoveElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.MoveElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.RenameElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.RenameElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.MoveRenamedElementPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.MoveRenamedElementPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.ExchangeLocationOfElementsPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.ExchangeLocationOfElementsPostcondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.UpdateReferenceTargetPrecondition"/>
      <query-specification fqn="se.mdh.idt.benji.examples.models20.ecore.UpdateReferenceTargetPostcondition"/>
    </group>
  </extension>
</plugin>
