<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn2 -->
      <package
            uri="http://www.mdh.se/idt/benji/examples/metamodels/bpmn2"
            class="se.mdh.idt.benji.examples.metamodels.bpmn2.Bpmn2Package"
            genModel="model/bpmn2.xcore"/>
   </extension>

</plugin>
